<nav  class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav center">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proyectos
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" style="color:#FFF">Doa no fantaji</a>
          <a class="dropdown-item" href="#" style="color:#FFF">Mitoki Club</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#" style="color:#FFF">Proyectos de casa</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Quienes somos</a>
      </li>
    </div>
  </div>
</nav>