
<div class="" id="cards">

    <div class="card-group">
        <div class="card">
          <img src="assets/img/plane.png" class="card-img-top" alt="..." width="50">
          <div class="card-body">
            <h5 class="card-title">¿Sofigroc?</h5>
            <p class="card-text">Como lo dicen sus siglas Software integrate for grow in code, </p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card">
            <img src="assets/img/lapiz.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Educación</h5>
            <p class="card-text">Aprender desarrollo de software es el futuro, accede a Los mejores cursos de desarrollo de software, aqui en BIT INSTITUTE</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card">
            <img src="assets/img/llave.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Desarrollo de Software</h5>
            <p class="card-text">Proyectos web, creados segun los requerimientos y espesificaciones del cliente</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
      </div>

</div>
